/* Обычный */
@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap");
}

:root {
  --main-bg-color: #ffffff;
  --second-color: #ffffff;
  --second-text-color: #999999;
}

.chats_navigation {
  width: 310px;
  height: 100%;
  display: flex;
  flex-flow: column;
  border: 1px #eaeaea;
  border-right-style: solid;
  padding: 0px 10px;
}

.navigation_profile {
  margin-bottom: 10px;
}

.profile_button {
  margin: auto;
  text-align: right;
  width: 100%;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.profile_button__default {
  background: var(--second-color);
  color: var(--second-text-color);
  font-size: 12px;
  margin-top: 21px;
}

.text:active,
.text:hover,
.text {
  text-decoration: none;
  color: #666;
}

.navigation_search {
  background-color: #efefef;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.search_text {
  color: var(--second-text-color);
  height: 32px;
  font-size: 12px;
  line-height: 32px;
}

.navigation_list {
  margin: auto;
}

.chats_content {
  flex: 1;
  display: flex;
}

.content_text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.content_text__default {
  margin: auto;
  color: var(--second-text-color);
  height: 12px;
  font-size: 12px;
  line-height: 12px;
}

