
.list_component {
  width: 100%;
  padding: 10px auto;
  border: 1px #eaeaea;
  border-top-style: solid;
}

.component {
    width: 100%;
    display: flex;
    flex-flow: row;
  }

.component_img {
    width: 47px;
    height: 47px;
}

.component_main {
    flex:1;
    display:flex;
    flex-flow: column;
}

.component_info {
    display:flex;
    flex-flow: column;
}

