/* Обычный */
@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap");
}

.error {
  margin: auto;
  display: flex;
  flex-flow: column;
}

.error_name {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: #1e1e1e;
}

.error_comment {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #1e1e1e;
  padding-top: 20px;
  padding-bottom: 70px;
}

.text:active,
.text:hover,
.text {
  text-decoration: none;
  color: #666;
}
