:root {
  --main-bg-color: #ffffff;
  --primary-color: #3369f3;
  --attention-color: #FF0000;
  --second-color: #ffffff;
  --main-text-color: #1e1e1e;
  --secondary-text-color: #999999;
  --border-color: #eaeaea; 
}

.back {
  height: 100%;
  width: 64px;
  border: 1px var(--border-color);
  border-right-style: solid;
  display: flex;
}

.back_icon {
    margin: auto;
    height: 28px;
    width: 28px;

}

.profile_content {
  flex: 1;
  display: flex;
}

.content_card {
    margin: auto;
    width: 510px;
    display: flex;
    flex-flow: column;
}

.card_title{
  text-align: center;  
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;  
  color: var(--main-text-color);
  font-size: 16px;
  margin-top: 21px;
  margin-bottom: 60px;
}

.card_field{
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    border: 1px var(--border-color);
    border-bottom-style: solid;
    height: 27px;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.card_field_name {
    text-align: left;  
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;  
    color: var(--main-text-color);
    font-size: 13px;
}

.card_field_value {
    text-align: right;  
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;  
    color: var(--secondary-text-color);
    font-size: 13px;
    border: 0px;
}

.avatar {
    margin: auto;
    width: 130px;
    height: 130px;
}

.card_footer{
    margin-top: 60px;
    display: flex;
    flex-flow: column;
}

.footer_button {
    width: 100%;
    border: 1px var(--border-color);
    border-bottom-style: solid;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-align: left;
  }
  
  .button__active {
    background: var(--main-bg-color);
    color: var(--primary-color);
    height: 37px;
    font-size: 13px;
    line-height: 37px;
  }
  
  .button__red {
    background: var(--main-bg-color);
    color: var(--attention-color);
    font-size: 13px;
    line-height: 37px;
  }
  