{{!< base}}

<main>
  <a href="./login.hbs">Login</a>
  <a href="./signup.hbs">Signup</a>
  <a href="./404.hbs">404</a>
  <a href="./500.hbs">500</a>
  <a href="./chats.hbs">Chats</a>
  <a href="./profile.hbs">Profile</a>
</main>
