---
title: Signup
css:
  - base.css
  - block.css
---

{{!< base}}

<main class="layout">
    <div class="block">
        {{> title class="block_title" text="Регистрация"}}
        <div class="block_body">
            {{> input text="Почта" type="text" class="block_input" name="email"}}
            {{> input text="Логин" type="text" class="block_input" name="login"}}
            {{> input text="Имя" type="text" class="block_input" name="first_name"}}
            {{> input text="Фамилия" type="text" class="block_input" name="second_name"}}
            {{> input text="Телефон" type="tel" class="block_input" name="phone"}}
            {{> input text="Пароль" type="password" class="block_input" name="password"}}
            {{> input text="Пароль (еще раз)" type="password" class="block_input" name="repeat_password"}}
        </div>
        <div class="block_footer">
          <a href="./chats.hbs" class="text">
            {{> button class="block_button button__active" text="Зарегистрироваться" name="Sign up"}}
          </a>
          <a href="./login.hbs" class="text">
            {{> button class="block_button button__default" text="Войти" name="Sign in"}}
          </a>
        </div>
    </div>
</main>
