html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

:root {
  --main-bg-color: #fff;
  --primary-color: #3369f3;
  --attention-color: #f00;
  --second-color: #fff;
  --main-text-color: #1e1e1e;
  --secondary-text-color: #999;
  --border-color: #eaeaea;
  --second-color-chat: #efefef;
  --primary-text-color: #1e1e1e;
}