<html>
  <head>
    {{#each css}}
      <link rel="stylesheet" href="../styles/{{this}}" />
    {{/each}}
  </head>
  <body>
    {{{body}}}
    <script src="../utils/getData.js" type="module"></script>
  </body>
</html>
