.message {
  padding: 10px 20px;
  margin-top: 15px;
  max-width: 200px;
  border-radius: 30px;
  font-size: 14px;
  background: #d7e2fe;
  align-self: flex-start;
}

.message--mine {
  align-self: flex-end;
  background: #e7deff;
}
